.s-user-menu-trigger{
    background: transparent !important;
}
.s-user-menu-toggler.opened .s-user-menu-dropdown{
@apply bg-gradient-to-t from-zinc-800 to-black right-5    z-50
}
.s-user-menu-dropdown-item a{
  color: white;
}
.s-cart-summary-total{
  color: white;
}
.s-cart-summary-total-label{
  color: white;
}

.s-button-primary{
  @apply bg-transparent p-0 hover:bg-transparent border-none
}
footer >p{
  color: white !important;
}

.hoverNav:hover{
  @apply bg-gradient-to-t from-main/40 to-yellow-500
}
.activeNav{
  @apply bg-gradient-to-t from-main/40 to-yellow-500
}